TF_VAR_subscription_id="00000000-0000-0000-0000-000000000000"
TF_VAR_location="japaneast"
TF_VAR_name_prefix="pbs-lab"
TF_VAR_storage_account_name="replacewithuniquename"
TF_VAR_management_source_cidrs='["10.60.254.0/26"]'
TF_VAR_vnet_cidr="10.60.0.0/16"
TF_VAR_management_subnet_cidr="10.60.0.0/24"
TF_VAR_cluster_subnet_cidr="10.60.1.0/24"
TF_VAR_anf_subnet_cidr="10.60.50.0/24"
TF_VAR_cyclecloud_image_urn="azurecyclecloud:azure-cyclecloud:cyclecloud8-gen2:latest"
TF_VAR_image_data_disk_luns='[0]'
TF_VAR_cyclecloud_vm_size="Standard_D4as_v5"
TF_VAR_admin_username="azureuser"
SSH_PUBLIC_KEY_FILE="$HOME/.ssh/id_rsa.pub"
TF_VAR_enable_anf=true
TF_VAR_anf_pool_size_tb=1
TF_VAR_anf_volume_size_gib=1024
TF_VAR_anf_throughput_mibps=128