PBS_CREDENTIALS="azure-openpbs"
PBS_REGION="japaneast"
PBS_SERVER_VM_SIZE="Standard_D4as_v5"
PBS_EXECUTE_VM_SIZE="Standard_D4as_v5"
PBS_MAX_CORES=8
PBS_IMAGE="almalinux:almalinux-hpc:8_10-hpc-gen2:latest"
PBS_VERSION="22.05.11-0"
PBS_USE_ANF=true